# Bibliotecas e leitura dos dados:

In [1]:
#importanto bibliotecas

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, preprocessing
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Leitura dos CSVs a partir das colunas importantes retiradas do dicionario:

In [2]:
colunas_treino=['CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO']

In [3]:
colunas_teste=['NU_INSCRICAO','CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT','TP_LINGUA', 'TP_STATUS_REDACAO']

In [4]:
test = pd.read_csv("test.csv", usecols=colunas_teste)
test.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1783345 entries, 0 to 1783344
Data columns (total 76 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 object
 1   CO_UF_RESIDENCIA             int64
 2   NU_IDADE                     float64
 3   TP_SEXO                      object
 4   TP_ESTADO_CIVIL              int64
 5   TP_COR_RACA                  int64
 6   TP_NACIONALIDADE             int64
 7   CO_UF_NASCIMENTO             float64
 8   TP_ST_CONCLUSAO              int64
 9   TP_ANO_CONCLUIU              int64
 10  TP_ESCOLA                    int64
 11  TP_ENSINO                    float64
 12  IN_TREINEIRO                 int64
 13  CO_UF_ESC                    float64
 14  TP_DEPENDENCIA_ADM_ESC       float64
 15  TP_LOCALIZACAO_ESC           float64
 16  TP_SIT_FUNC_ESC              float64
 17  IN_BAIXA_VISAO               int64
 18  IN_CEGUEIRA                  int64
 19  IN_SURDEZ                    int64
 20  IN_DEFICIENCIA_AUDITIVA      int64
 21  IN_SURDO_CEGUEIRA            int64
 22  IN_DEFICIENCIA_FISICA        int64
 23  IN_DEFICIENCIA_MENTAL        int64
 24  IN_DEFICIT_ATENCAO           int64
 25  IN_DISLEXIA                  int64
 26  IN_DISCALCULIA               int64
 27  IN_AUTISMO                   int64
 28  IN_VISAO_MONOCULAR           int64
 29  IN_OUTRA_DEF                 int64
 30  IN_GESTANTE                  int64
 31  IN_LACTANTE                  int64
 32  IN_IDOSO                     int64
 33  IN_ESTUDA_CLASSE_HOSPITALAR  int64
 34  IN_SEM_RECURSO               int64
 35  IN_BRAILLE                   int64
 36  IN_AMPLIADA_24               int64
 37  IN_AMPLIADA_18               int64
 38  IN_LEDOR                     int64
 39  IN_ACESSO                    int64
 40  IN_TRANSCRICAO               int64
 41  IN_LIBRAS                    int64
 42  IN_TEMPO_ADICIONAL           int64
 43  IN_LEITURA_LABIAL            int64
 44  IN_MESA_CADEIRA_RODAS        int64
 45  IN_MESA_CADEIRA_SEPARADA     int64
 46  IN_APOIO_PERNA               int64
 47  IN_GUIA_INTERPRETE           int64
 48  IN_COMPUTADOR                int64
 49  IN_CADEIRA_ESPECIAL          int64
 50  IN_CADEIRA_CANHOTO           int64
 51  IN_CADEIRA_ACOLCHOADA        int64
 52  IN_PROVA_DEITADO             int64
 53  IN_MOBILIARIO_OBESO          int64
 54  IN_LAMINA_OVERLAY            int64
 55  IN_PROTETOR_AURICULAR        int64
 56  IN_MEDIDOR_GLICOSE           int64
 57  IN_MAQUINA_BRAILE            int64
 58  IN_SOROBAN                   int64
 59  IN_MARCA_PASSO               int64
 60  IN_SONDA                     int64
 61  IN_MEDICAMENTOS              int64
 62  IN_SALA_INDIVIDUAL           int64
 63  IN_SALA_ESPECIAL             int64
 64  IN_SALA_ACOMPANHANTE         int64
 65  IN_MOBILIARIO_ESPECIFICO     int64
 66  IN_MATERIAL_ESPECIFICO       int64
 67  IN_NOME_SOCIAL               int64
 68  CO_MUNICIPIO_PROVA           int64
 69  CO_UF_PROVA                  int64
 70  TP_PRESENCA_CN               int64
 71  TP_PRESENCA_CH               int64
 72  TP_PRESENCA_LC               int64
 73  TP_PRESENCA_MT               int64
 74  TP_LINGUA                    int64
 75  TP_STATUS_REDACAO            float64
dtypes: float64(8), int64(66), object(2)
memory usage: 1.2 GB

In [5]:
train = pd.read_csv("train.csv", usecols=colunas_treino)
train.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311925 entries, 0 to 3311924
Data columns (total 80 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CO_UF_RESIDENCIA             int64
 1   NU_IDADE                     float64
 2   TP_SEXO                      object
 3   TP_ESTADO_CIVIL              int64
 4   TP_COR_RACA                  int64
 5   TP_NACIONALIDADE             int64
 6   CO_UF_NASCIMENTO             float64
 7   TP_ST_CONCLUSAO              int64
 8   TP_ANO_CONCLUIU              int64
 9   TP_ESCOLA                    int64
 10  TP_ENSINO                    float64
 11  IN_TREINEIRO                 int64
 12  CO_UF_ESC                    float64
 13  TP_DEPENDENCIA_ADM_ESC       float64
 14  TP_LOCALIZACAO_ESC           float64
 15  TP_SIT_FUNC_ESC              float64
 16  IN_BAIXA_VISAO               int64
 17  IN_CEGUEIRA                  int64
 18  IN_SURDEZ                    int64
 19  IN_DEFICIENCIA_AUDITIVA      int64
 20  IN_SURDO_CEGUEIRA            int64
 21  IN_DEFICIENCIA_FISICA        int64
 22  IN_DEFICIENCIA_MENTAL        int64
 23  IN_DEFICIT_ATENCAO           int64
 24  IN_DISLEXIA                  int64
 25  IN_DISCALCULIA               int64
 26  IN_AUTISMO                   int64
 27  IN_VISAO_MONOCULAR           int64
 28  IN_OUTRA_DEF                 int64
 29  IN_GESTANTE                  int64
 30  IN_LACTANTE                  int64
 31  IN_IDOSO                     int64
 32  IN_ESTUDA_CLASSE_HOSPITALAR  int64
 33  IN_SEM_RECURSO               int64
 34  IN_BRAILLE                   int64
 35  IN_AMPLIADA_24               int64
 36  IN_AMPLIADA_18               int64
 37  IN_LEDOR                     int64
 38  IN_ACESSO                    int64
 39  IN_TRANSCRICAO               int64
 40  IN_LIBRAS                    int64
 41  IN_TEMPO_ADICIONAL           int64
 42  IN_LEITURA_LABIAL            int64
 43  IN_MESA_CADEIRA_RODAS        int64
 44  IN_MESA_CADEIRA_SEPARADA     int64
 45  IN_APOIO_PERNA               int64
 46  IN_GUIA_INTERPRETE           int64
 47  IN_COMPUTADOR                int64
 48  IN_CADEIRA_ESPECIAL          int64
 49  IN_CADEIRA_CANHOTO           int64
 50  IN_CADEIRA_ACOLCHOADA        int64
 51  IN_PROVA_DEITADO             int64
 52  IN_MOBILIARIO_OBESO          int64
 53  IN_LAMINA_OVERLAY            int64
 54  IN_PROTETOR_AURICULAR        int64
 55  IN_MEDIDOR_GLICOSE           int64
 56  IN_MAQUINA_BRAILE            int64
 57  IN_SOROBAN                   int64
 58  IN_MARCA_PASSO               int64
 59  IN_SONDA                     int64
 60  IN_MEDICAMENTOS              int64
 61  IN_SALA_INDIVIDUAL           int64
 62  IN_SALA_ESPECIAL             int64
 63  IN_SALA_ACOMPANHANTE         int64
 64  IN_MOBILIARIO_ESPECIFICO     int64
 65  IN_MATERIAL_ESPECIFICO       int64
 66  IN_NOME_SOCIAL               int64
 67  CO_MUNICIPIO_PROVA           int64
 68  CO_UF_PROVA                  int64
 69  TP_PRESENCA_CN               int64
 70  TP_PRESENCA_CH               int64
 71  TP_PRESENCA_LC               int64
 72  TP_PRESENCA_MT               int64
 73  NU_NOTA_CN                   float64
 74  NU_NOTA_CH                   float64
 75  NU_NOTA_LC                   float64
 76  NU_NOTA_MT                   float64
 77  TP_LINGUA                    int64
 78  TP_STATUS_REDACAO            float64
 79  NU_NOTA_REDACAO              float64
dtypes: float64(13), int64(66), object(1)
memory usage: 2.1 GB

In [6]:
train.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_REDACAO
0,11,31.0,F,0,1,1,32.0,1,10,1,...,1,1,1,426.5,487.4,530.9,415.3,1,1.0,680.0
1,31,23.0,F,1,3,1,31.0,1,3,1,...,1,1,1,463.0,452.3,456.6,407.2,0,1.0,520.0
2,31,17.0,M,0,3,1,31.0,2,0,2,...,1,1,1,381.7,474.4,530.6,622.8,0,1.0,600.0
3,25,16.0,M,1,1,1,25.0,3,0,1,...,1,1,1,426.7,343.9,444.2,507.0,1,1.0,660.0
4,23,19.0,M,1,1,1,23.0,1,1,1,...,1,1,1,623.7,609.1,637.1,805.3,0,1.0,840.0

In [7]:
train = pd.concat([train, pd.get_dummies(train['TP_SEXO'], drop_first=True)], axis=1)
train = train.drop(columns=['TP_SEXO'])

In [8]:
test = pd.concat([test, pd.get_dummies(test['TP_SEXO'], drop_first=True)], axis=1)
test = test.drop(columns=['TP_SEXO'])

In [9]:
train.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_REDACAO,M
0,11,31.0,0,1,1,32.0,1,10,1,1.0,...,1,1,426.5,487.4,530.9,415.3,1,1.0,680.0,0
1,31,23.0,1,3,1,31.0,1,3,1,NaN,...,1,1,463.0,452.3,456.6,407.2,0,1.0,520.0,0
2,31,17.0,0,3,1,31.0,2,0,2,1.0,...,1,1,381.7,474.4,530.6,622.8,0,1.0,600.0,1
3,25,16.0,1,1,1,25.0,3,0,1,NaN,...,1,1,426.7,343.9,444.2,507.0,1,1.0,660.0,1
4,23,19.0,1,1,1,23.0,1,1,1,NaN,...,1,1,623.7,609.1,637.1,805.3,0,1.0,840.0,1

# Trabalhando os NaNs do dataset de treino:

Podemos observar as 10 colunas com mais dados faltantes.

In [10]:
train.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head(10)

                     index  Dados faltantes
13      TP_LOCALIZACAO_ESC         0.774941
11               CO_UF_ESC         0.774941
14         TP_SIT_FUNC_ESC         0.774941
12  TP_DEPENDENCIA_ADM_ESC         0.774941
9                TP_ENSINO         0.435267
75              NU_NOTA_MT         0.271985
72              NU_NOTA_CN         0.271985
77       TP_STATUS_REDACAO         0.230176
78         NU_NOTA_REDACAO         0.230176
74              NU_NOTA_LC         0.230175

In [11]:
train.groupby(by='TP_ENSINO').size()

TP_ENSINO
1.0    1861339
2.0       9015
dtype: int64

Pelo dicionario, a coluna TP_Ensino apresenta valor 1 como "não respondeu", logo, a quantidade de dados faltantes é absurdamente maior do que 43% como visto anteriormente.

In [12]:
train=train.drop(columns=['CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_SIT_FUNC_ESC','TP_LOCALIZACAO_ESC','TP_ENSINO'])
test=test.drop(columns=['CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_SIT_FUNC_ESC','TP_LOCALIZACAO_ESC','TP_ENSINO'])

In [13]:
train.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head(10)

                  index  Dados faltantes
70           NU_NOTA_MT         0.271985
67           NU_NOTA_CN         0.271985
73      NU_NOTA_REDACAO         0.230176
72    TP_STATUS_REDACAO         0.230176
69           NU_NOTA_LC         0.230175
68           NU_NOTA_CH         0.230175
5      CO_UF_NASCIMENTO         0.028552
1              NU_IDADE         0.000010
46  IN_MOBILIARIO_OBESO         0.000000
51           IN_SOROBAN         0.000000

In [14]:
train.shape

(3311925, 75)

In [15]:
train=train.dropna()

In [16]:
train.shape

(2336557, 75)

Foi perdido ~1/3 dos dados, podemos procurar uma maneira de minimizar isso posteriomente, talvez a falta dessas notas esteja relacionado a coluna de presença na prova.

# Ajustando a escala dos dados e dividindo as variaveis:

#### Treino:

In [17]:
#Separando as variáveis dependentes e independentes do nosso modelo
Y_train = train.loc[:,['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']]

X_train = train.drop(columns=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO'])

del train

In [18]:
X_train.shape

(2336557, 70)

#### Teste:

In [19]:
test.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,IN_NOME_SOCIAL,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,TP_LINGUA,TP_STATUS_REDACAO,M
0,5d5b362b-7388-4ac6-81b3-23573e4e2d3a,23,22.0,1,3,1,23.0,1,3,1,...,0,2305506,23,0,0,0,0,1,NaN,0
1,52356efd-3239-4cd2-a444-416625dfc560,35,19.0,1,1,1,35.0,1,1,1,...,0,3548500,35,1,1,1,1,0,1.0,0
2,1ba42e9a-dd61-4405-9b08-79b728ad23c9,35,16.0,1,1,1,35.0,3,0,1,...,0,3552106,35,1,1,1,1,1,1.0,0
3,16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03,35,22.0,1,1,1,35.0,1,5,1,...,0,3541000,35,1,1,1,1,0,1.0,1
4,fa663d11-5052-4ab2-b771-3a3de3bdec55,41,17.0,1,1,1,41.0,2,0,3,...,0,4106902,41,1,1,1,1,0,1.0,1

In [20]:
out = test['NU_INSCRICAO']
test=test.drop(columns=['NU_INSCRICAO'])
out.head()

0    5d5b362b-7388-4ac6-81b3-23573e4e2d3a
1    52356efd-3239-4cd2-a444-416625dfc560
2    1ba42e9a-dd61-4405-9b08-79b728ad23c9
3    16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03
4    fa663d11-5052-4ab2-b771-3a3de3bdec55
Name: NU_INSCRICAO, dtype: object

In [21]:
X_test=test
del test

In [22]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)

#X_test_scaled=scaler.transform(X_test)

#Y_train_scaled=scaler2.fit_transform(Y_train)

In [23]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)

In [24]:
X_train_scaled.shape

(2336557, 70)

# Observando as features que tem mais impacto sobre as notas:

#### Utilizamos Regressão de Lasso para encontrar as colunas com maior influencia em relação a cada nota:

In [25]:
from sklearn.linear_model import Lasso
from sklearn.impute import SimpleImputer

In [26]:
lista_tipos=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']
dicionario={'NU_NOTA_CN':'Ciências da Natureza', 'NU_NOTA_CH':'Ciências Humanas', 'NU_NOTA_LC':'Linguagens e Códigos', 'NU_NOTA_MT':'Matemática', 'NU_NOTA_REDACAO':'Redação'}

In [27]:
i='NU_NOTA_CN'
linlasso_cn = Lasso(alpha=1.0, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])
print('\n')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_cn.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_cn.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Features non-zero para Ciências da Natureza: 15
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_LINGUA, -15.589
	TP_COR_RACA, -9.376
	TP_ANO_CONCLUIU, 9.042
	TP_ST_CONCLUSAO, -8.798
	IN_TREINEIRO, 7.974
	TP_ESCOLA, 7.146
	M, 6.768
	NU_IDADE, -6.727
	TP_STATUS_REDACAO, -5.789
	CO_UF_NASCIMENTO, 4.224
	CO_MUNICIPIO_PROVA, 1.237
	IN_DEFICIT_ATENCAO, 1.228
	IN_LEDOR, -0.267
	TP_ESTADO_CIVIL, -0.101
	IN_DEFICIENCIA_MENTAL, -0.024

In [28]:
i='NU_NOTA_CH'
linlasso_ch = Lasso(alpha=1.0, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])
print('\n')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_ch.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_ch.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Features non-zero para Ciências Humanas: 17
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_LINGUA, -17.155
	TP_ANO_CONCLUIU, 12.059
	TP_COR_RACA, -10.058
	TP_STATUS_REDACAO, -8.628
	NU_IDADE, -6.380
	TP_ESCOLA, 5.560
	TP_ST_CONCLUSAO, -5.281
	CO_UF_NASCIMENTO, 4.275
	IN_TREINEIRO, 4.256
	M, 3.880
	CO_MUNICIPIO_PROVA, 2.247
	IN_DEFICIT_ATENCAO, 0.703
	IN_LEDOR, -0.230
	IN_DEFICIENCIA_MENTAL, -0.190
	TP_ESTADO_CIVIL, -0.185
	IN_SURDEZ, -0.050
	IN_TEMPO_ADICIONAL, 0.035

In [29]:
i='NU_NOTA_LC'
linlasso_lc = Lasso(alpha=1.0, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])
print('\n')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_lc.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_lc.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Features non-zero para Linguagens e Códigos: 14
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_LINGUA, -14.072
	TP_ANO_CONCLUIU, 9.506
	NU_IDADE, -8.929
	TP_STATUS_REDACAO, -7.847
	TP_COR_RACA, -7.658
	CO_UF_NASCIMENTO, 3.891
	CO_MUNICIPIO_PROVA, 2.146
	TP_ST_CONCLUSAO, -1.689
	TP_ESCOLA, 0.865
	IN_SURDEZ, -0.357
	IN_DEFICIENCIA_MENTAL, -0.346
	IN_LEDOR, -0.286
	IN_LIBRAS, -0.105
	IN_DEFICIENCIA_AUDITIVA, -0.087

In [30]:
i='NU_NOTA_MT'
linlasso_mt = Lasso(alpha=1.0, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])
print('\n')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_mt.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_mt.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Features non-zero para Matemática: 16
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_LINGUA, -21.513
	IN_TREINEIRO, 20.397
	TP_ST_CONCLUSAO, -20.289
	NU_IDADE, -19.563
	M, 17.301
	TP_ESCOLA, 17.050
	TP_ANO_CONCLUIU, 14.355
	TP_COR_RACA, -13.446
	TP_STATUS_REDACAO, -7.833
	CO_UF_NASCIMENTO, 6.853
	IN_DEFICIT_ATENCAO, 1.960
	IN_LEDOR, -1.251
	CO_MUNICIPIO_PROVA, 1.230
	IN_TEMPO_ADICIONAL, 0.382
	IN_SURDEZ, -0.128
	IN_DEFICIENCIA_MENTAL, -0.107

In [31]:
i='NU_NOTA_REDACAO'
linlasso_red = Lasso(alpha=1.0, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])
print('\n')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_red.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_red.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

Features non-zero para Redação: 16
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_STATUS_REDACAO, -84.603
	TP_ST_CONCLUSAO, -50.043
	IN_TREINEIRO, 36.841
	NU_IDADE, -34.612
	TP_ESCOLA, 33.415
	TP_LINGUA, -23.735
	TP_COR_RACA, -14.368
	TP_ANO_CONCLUIU, 12.977
	M, -7.259
	IN_TEMPO_ADICIONAL, 2.844
	IN_LEDOR, -2.217
	IN_DEFICIT_ATENCAO, 1.748
	IN_DEFICIENCIA_MENTAL, -1.539
	IN_SURDEZ, -0.694
	IN_AUTISMO, -0.584
	IN_LIBRAS, -0.238

### Fazendo as predições:
Precisamos realizar um breve tratamento nos NaNs do test:

In [32]:
X_test.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head()

                    index  Dados faltantes
68      TP_STATUS_REDACAO         0.229794
5        CO_UF_NASCIMENTO         0.028422
1                NU_IDADE         0.000020
44  IN_CADEIRA_ACOLCHOADA         0.000000
50      IN_MAQUINA_BRAILE         0.000000

In [33]:
X_test.groupby(by='TP_STATUS_REDACAO').size()

TP_STATUS_REDACAO
1.0    1323217
2.0       1973
3.0       8099
4.0      19946
6.0      14185
7.0       1331
8.0       3062
9.0       1730
dtype: int64

Os dados faltantes podem ser completados com os mais frequentes em cada coluna:

In [34]:
X_test_complete=SimpleImputer(missing_values=np.nan,strategy='most_frequent').fit_transform(X_test)
X_test_complete=pd.DataFrame(X_test_complete, columns=X_test.columns)

Escalando os dados de teste na mesma escala dos de treino:

In [35]:
X_test_scaled=scaler.transform(X_test_complete)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test_complete.columns)

In [37]:
nota_cn=linlasso_cn.predict(X_test_scaled)
nota_ch=linlasso_ch.predict(X_test_scaled)
nota_lc=linlasso_lc.predict(X_test_scaled)
nota_mt=linlasso_mt.predict(X_test_scaled)
nota_red=linlasso_red.predict(X_test_scaled)

In [47]:
data_saida={'NU_INSCRICAO':out,'NU_NOTA_CN':nota_cn,'NU_NOTA_CH':nota_ch,'NU_NOTA_LC':nota_lc,'NU_NOTA_MT':nota_mt,'NU_NOTA_REDACAO':nota_red}

In [50]:
dataframe_saida=pd.DataFrame(data_saida)

In [52]:
dataframe_saida.to_csv('predicoes.csv',index=False)