In [95]:
#importanto bibliotecas

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, preprocessing
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [96]:
def dicionario(x):
    dicionario_letras={'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8,'I':9,
                   'J':10,'K':11,'L':12,'M':13,'N':14,'O':15,'P':16,'Q':17}
    return dicionario_letras[x]

Leitura dos CSVs a partir das colunas importantes retiradas do dicionario:

In [97]:
colunas_treino=['Q001','Q002','Q003','Q004','Q005','Q006','Q007','Q008','Q009','Q010','Q011','Q012',
                'Q013','Q014','Q015','Q016','Q017','Q018','Q019','Q020','Q021','Q022','Q023','Q024','Q025']

#Q5 Ã© numerico (consultar microdados)

In [98]:
train = pd.read_csv("train.csv", usecols=colunas_treino)
train.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311925 entries, 0 to 3311924
Data columns (total 25 columns):
 #   Column  Dtype
---  ------  -----
 0   Q001    object
 1   Q002    object
 2   Q003    object
 3   Q004    object
 4   Q005    int64
 5   Q006    object
 6   Q007    object
 7   Q008    object
 8   Q009    object
 9   Q010    object
 10  Q011    object
 11  Q012    object
 12  Q013    object
 13  Q014    object
 14  Q015    object
 15  Q016    object
 16  Q017    object
 17  Q018    object
 18  Q019    object
 19  Q020    object
 20  Q021    object
 21  Q022    object
 22  Q023    object
 23  Q024    object
 24  Q025    object
dtypes: int64(1), object(24)
memory usage: 4.3 GB

In [99]:
train.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head(10)

   index  Dados faltantes
0   Q001              0.0
13  Q014              0.0
23  Q024              0.0
22  Q023              0.0
21  Q022              0.0
20  Q021              0.0
19  Q020              0.0
18  Q019              0.0
17  Q018              0.0
16  Q017              0.0

In [100]:
for i in range(1,5):
    train[f'Q00{i}']=list(map(dicionario,train[f'Q00{i}']))
    
for i in range(6,10):
    train[f'Q00{i}']=list(map(dicionario,train[f'Q00{i}']))
    
for i in range(10,26):
    train[f'Q0{i}']=list(map(dicionario,train[f'Q0{i}']))

In [101]:
train.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311925 entries, 0 to 3311924
Data columns (total 25 columns):
 #   Column  Dtype
---  ------  -----
 0   Q001    int64
 1   Q002    int64
 2   Q003    int64
 3   Q004    int64
 4   Q005    int64
 5   Q006    int64
 6   Q007    int64
 7   Q008    int64
 8   Q009    int64
 9   Q010    int64
 10  Q011    int64
 11  Q012    int64
 12  Q013    int64
 13  Q014    int64
 14  Q015    int64
 15  Q016    int64
 16  Q017    int64
 17  Q018    int64
 18  Q019    int64
 19  Q020    int64
 20  Q021    int64
 21  Q022    int64
 22  Q023    int64
 23  Q024    int64
 24  Q025    int64
dtypes: int64(25)
memory usage: 631.7 MB

In [52]:
dataframe_saida.to_csv('questoes.csv',index=False)