# Bibliotecas e leitura dos dados:

In [1]:
#importanto bibliotecas

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, preprocessing
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Essa função será usada para converter as questões de strings para inteiros:

In [2]:
def dicionario(x):
    dicionario_letras={'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8,'I':9,
                   'J':10,'K':11,'L':12,'M':13,'N':14,'O':15,'P':16,'Q':17}
    return dicionario_letras[x]

Leitura dos CSVs a partir das colunas importantes retiradas do dicionario:

In [3]:
colunas_treino=['CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO','Q001','Q002','Q003','Q004',
        'Q005','Q006','Q007','Q008','Q009','Q010','Q011','Q012','Q013','Q014','Q015','Q016','Q017',
        'Q018','Q019','Q020','Q021','Q022','Q023','Q024','Q025']

In [4]:
colunas_teste=['NU_INSCRICAO','CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT','TP_LINGUA', 'TP_STATUS_REDACAO','Q001','Q002','Q003',
               'Q004','Q005','Q006','Q007','Q008','Q009','Q010','Q011','Q012',
                'Q013','Q014','Q015','Q016','Q017','Q018','Q019','Q020','Q021','Q022',
               'Q023','Q024','Q025']

In [5]:
test = pd.read_csv("test.csv", usecols=colunas_teste)
#test.info(memory_usage="deep")

In [6]:
train = pd.read_csv("train.csv", usecols=colunas_treino)
#train.info(memory_usage="deep")

In [7]:
train.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,11,31.0,F,0,1,1,32.0,1,10,1,...,B,A,A,B,A,A,C,A,B,B
1,31,23.0,F,1,3,1,31.0,1,3,1,...,A,A,A,B,A,A,C,A,B,B
2,31,17.0,M,0,3,1,31.0,2,0,2,...,B,A,B,C,B,B,D,A,B,B
3,25,16.0,M,1,1,1,25.0,3,0,1,...,B,A,A,B,A,A,E,A,A,B
4,23,19.0,M,1,1,1,23.0,1,1,1,...,B,A,A,E,B,B,C,B,B,B

In [8]:
for i in range(1,5):
    train[f'Q00{i}']=list(map(dicionario,train[f'Q00{i}']))
    test[f'Q00{i}']=list(map(dicionario,test[f'Q00{i}']))
    
for i in range(6,10):
    train[f'Q00{i}']=list(map(dicionario,train[f'Q00{i}']))
    test[f'Q00{i}']=list(map(dicionario,test[f'Q00{i}']))
    
for i in range(10,26):
    train[f'Q0{i}']=list(map(dicionario,train[f'Q0{i}']))
    test[f'Q0{i}']=list(map(dicionario,test[f'Q0{i}']))

In [9]:
train = pd.concat([train, pd.get_dummies(train['TP_SEXO'], drop_first=True)], axis=1)
train = train.drop(columns=['TP_SEXO'])

In [10]:
test = pd.concat([test, pd.get_dummies(test['TP_SEXO'], drop_first=True)], axis=1)
test = test.drop(columns=['TP_SEXO'])

In [11]:
train.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,M
0,11,31.0,0,1,1,32.0,1,10,1,1.0,...,1,1,2,1,1,3,1,2,2,0
1,31,23.0,1,3,1,31.0,1,3,1,NaN,...,1,1,2,1,1,3,1,2,2,0
2,31,17.0,0,3,1,31.0,2,0,2,1.0,...,1,2,3,2,2,4,1,2,2,1
3,25,16.0,1,1,1,25.0,3,0,1,NaN,...,1,1,2,1,1,5,1,1,2,1
4,23,19.0,1,1,1,23.0,1,1,1,NaN,...,1,1,5,2,2,3,2,2,2,1

# Trabalhando os NaNs do dataset de treino:

Podemos observar as 10 colunas com mais dados faltantes.

In [12]:
train.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head(10)

                     index  Dados faltantes
11               CO_UF_ESC         0.774941
12  TP_DEPENDENCIA_ADM_ESC         0.774941
13      TP_LOCALIZACAO_ESC         0.774941
14         TP_SIT_FUNC_ESC         0.774941
9                TP_ENSINO         0.435267
72              NU_NOTA_CN         0.271985
75              NU_NOTA_MT         0.271985
78         NU_NOTA_REDACAO         0.230176
77       TP_STATUS_REDACAO         0.230176
74              NU_NOTA_LC         0.230175

In [13]:
train.groupby(by='TP_ENSINO').size()

TP_ENSINO
1.0    1861339
2.0       9015
dtype: int64

Pelo dicionario, a coluna TP_Ensino apresenta valor 1 como "não respondeu", logo, a quantidade de dados faltantes é absurdamente maior do que 43% como visto anteriormente.

In [14]:
train=train.drop(columns=['CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_SIT_FUNC_ESC','TP_LOCALIZACAO_ESC','TP_ENSINO'])
test=test.drop(columns=['CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_SIT_FUNC_ESC','TP_LOCALIZACAO_ESC','TP_ENSINO'])

In [15]:
train.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head(10)

                index  Dados faltantes
70         NU_NOTA_MT         0.271985
67         NU_NOTA_CN         0.271985
73    NU_NOTA_REDACAO         0.230176
72  TP_STATUS_REDACAO         0.230176
69         NU_NOTA_LC         0.230175
68         NU_NOTA_CH         0.230175
5    CO_UF_NASCIMENTO         0.028552
1            NU_IDADE         0.000010
63     TP_PRESENCA_CN         0.000000
71          TP_LINGUA         0.000000

In [16]:
train.shape

(3311925, 100)

In [17]:
train=train.dropna()

In [18]:
train.shape

(2336557, 100)

Foi perdido ~1/3 dos dados, podemos procurar uma maneira de minimizar isso posteriomente, talvez a falta dessas notas esteja relacionado a coluna de presença na prova.

# Ajustando a escala dos dados e dividindo as variaveis:

#### Treino:

In [19]:
#Separando as variáveis dependentes e independentes do nosso modelo
Y_train = train.loc[:,['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']]

X_train = train.drop(columns=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO'])

del train

In [20]:
X_train.shape

(2336557, 95)

#### Teste:

In [21]:
test.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,M
0,5d5b362b-7388-4ac6-81b3-23573e4e2d3a,23,22.0,1,3,1,23.0,1,3,1,...,1,1,2,2,1,2,1,2,2,0
1,52356efd-3239-4cd2-a444-416625dfc560,35,19.0,1,1,1,35.0,1,1,1,...,1,1,2,1,2,5,2,2,2,0
2,1ba42e9a-dd61-4405-9b08-79b728ad23c9,35,16.0,1,1,1,35.0,3,0,1,...,1,2,3,1,1,5,1,2,2,0
3,16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03,35,22.0,1,1,1,35.0,1,5,1,...,1,1,3,1,2,3,2,2,2,1
4,fa663d11-5052-4ab2-b771-3a3de3bdec55,41,17.0,1,1,1,41.0,2,0,3,...,1,2,2,1,2,2,2,3,2,1

In [22]:
out = test['NU_INSCRICAO']
test=test.drop(columns=['NU_INSCRICAO'])
out.head()

0    5d5b362b-7388-4ac6-81b3-23573e4e2d3a
1    52356efd-3239-4cd2-a444-416625dfc560
2    1ba42e9a-dd61-4405-9b08-79b728ad23c9
3    16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03
4    fa663d11-5052-4ab2-b771-3a3de3bdec55
Name: NU_INSCRICAO, dtype: object

In [23]:
X_test=test
del test

In [24]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)

#X_test_scaled=scaler.transform(X_test)

#Y_train_scaled=scaler2.fit_transform(Y_train)

In [25]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)

In [26]:
X_train_scaled.shape

(2336557, 95)

# Observando as features que tem mais impacto sobre as notas:

#### Utilizamos Regressão de Lasso para encontrar as colunas com maior influencia em relação a cada nota:

In [27]:
from sklearn.linear_model import Lasso, LassoCV
from sklearn.impute import SimpleImputer

In [28]:
lista_tipos=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']
dicionario={'NU_NOTA_CN':'Ciências da Natureza', 'NU_NOTA_CH':'Ciências Humanas', 'NU_NOTA_LC':'Linguagens e Códigos', 'NU_NOTA_MT':'Matemática', 'NU_NOTA_REDACAO':'Redação'}

In [29]:
#k-fold para achar melhor valor de alpha
model = LassoCV(cv=5, random_state=0, max_iter=10000)

In [30]:
i='NU_NOTA_CN'

model.fit(X_train_scaled, Y_train.loc[:,i])
linlasso_cn = Lasso(alpha=model.alpha_, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])
X_
print(f'\n Alpha usado: {model.alpha_}')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_cn.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_cn.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

 Alpha usado: 0.03286031767635215
Features non-zero para Ciências da Natureza: 71
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_ST_CONCLUSAO, -16.780
	Q006, 16.475
	IN_TREINEIRO, 10.440
	TP_ANO_CONCLUIU, 9.041
	Q024, 9.028
	TP_LINGUA, -8.489
	TP_ESCOLA, 8.397
	NU_IDADE, -7.273
	M, 5.278
	Q005, -4.705
	TP_STATUS_REDACAO, -4.572
	Q008, 4.414
	Q002, 4.113
	TP_COR_RACA, -3.454
	Q013, 3.053
	Q019, -1.923
	Q015, -1.770
	Q011, -1.733
	Q001, 1.708
	Q018, 1.706
	Q012, -1.649
	Q022, 1.553
	CO_UF_NASCIMENTO, 1.400
	IN_TEMPO_ADICIONAL, 1.386
	Q010, 1.383
	CO_UF_RESIDENCIA, -1.361
	Q025, 1.337
	Q021, -1.206
	Q023, 1.178
	Q004, 1.171
	IN_LEDOR, -1.145
	Q007, -1.048
	TP_ESTADO_CIVIL, -0.923
	IN_DEFICIENCIA_MENTAL, -0.707
	IN_SURDEZ, -0.694
	IN_DEFICIENCIA_AUDITIVA, -0.628
	IN_AUTISMO, -0.576
	Q003, 0.436
	IN_DEFICIENCIA_FISICA, -0.293
	IN_DISLEXIA, -0.267
	IN_LIBRAS, -0.263
	CO_UF_PROVA, -0.236
	IN_TRANSCRICAO, -0.233
	IN_DEFICIT_ATENCAO, 0.221
	Q020, -0.220
	IN_DISCALCULIA, -0.215
	Q017, -0.214
	IN_OUTRA_DEF, 0.192
	IN_LEITURA_LABIAL, -0.171
	Q009, -0.138
	IN_NOME_SOCIAL, 0.112
	IN_SEM_RECURSO, -0.110
	IN_ACESSO, -0.096
	IN_MESA_CADEIRA_SEPARADA, 0.074
	IN_CEGUEIRA, 0.060
	IN_SALA_ACOMPANHANTE, -0.056
	IN_CADEIRA_CANHOTO, -0.055
	IN_MEDIDOR_GLICOSE, 0.054
	IN_MESA_CADEIRA_RODAS, -0.050
	IN_SONDA, 0.049
	IN_IDOSO, 0.044
	IN_CADEIRA_ACOLCHOADA, 0.041
	Q014, -0.037
	Q016, 0.036
	IN_PROTETOR_AURICULAR, 0.032
	IN_MAQUINA_BRAILE, -0.032
	IN_MOBILIARIO_ESPECIFICO, 0.024
	IN_ESTUDA_CLASSE_HOSPITALAR, -0.019
	IN_LAMINA_OVERLAY, 0.017
	IN_MOBILIARIO_OBESO, 0.015
	IN_SURDO_CEGUEIRA, -0.011

In [31]:
i='NU_NOTA_CH'

model.fit(X_train_scaled, Y_train.loc[:,i])
linlasso_ch = Lasso(model.alpha_, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])

print(f'\n Alpha usado: {model.alpha_}')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_ch.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_ch.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

 Alpha usado: 0.032688955497564884
Features non-zero para Ciências Humanas: 69
Features com valores non-zero (ordenados pela magnitude absoluta):
	Q006, 16.305
	TP_ST_CONCLUSAO, -13.390
	TP_ANO_CONCLUIU, 12.084
	TP_LINGUA, -9.886
	Q024, 9.419
	TP_STATUS_REDACAO, -7.355
	IN_TREINEIRO, 7.192
	TP_ESCOLA, 7.115
	NU_IDADE, -6.950
	Q005, -5.192
	TP_COR_RACA, -4.150
	Q002, 3.841
	Q013, 3.637
	Q008, 3.073
	Q011, -2.815
	Q022, 2.813
	M, 2.412
	Q025, 2.273
	Q001, 1.846
	Q012, -1.752
	Q015, -1.686
	Q007, -1.629
	CO_UF_NASCIMENTO, 1.394
	Q023, 1.385
	IN_TEMPO_ADICIONAL, 1.337
	IN_LEDOR, -1.215
	Q019, -1.209
	Q018, 1.146
	TP_ESTADO_CIVIL, -0.981
	Q003, 0.940
	Q004, 0.933
	IN_DEFICIENCIA_MENTAL, -0.862
	IN_SURDEZ, -0.848
	CO_UF_PROVA, -0.836
	IN_DEFICIENCIA_AUDITIVA, -0.828
	Q021, -0.682
	IN_AUTISMO, -0.502
	Q016, 0.500
	Q009, -0.497
	Q017, -0.471
	IN_DISLEXIA, -0.410
	IN_LIBRAS, -0.347
	IN_NOME_SOCIAL, 0.293
	Q010, -0.287
	IN_SEM_RECURSO, -0.228
	Q020, -0.206
	Q014, 0.200
	IN_CEGUEIRA, 0.177
	IN_DEFICIENCIA_FISICA, -0.172
	IN_MESA_CADEIRA_RODAS, -0.153
	IN_DISCALCULIA, -0.139
	IN_LEITURA_LABIAL, -0.131
	IN_CADEIRA_ACOLCHOADA, 0.129
	IN_TRANSCRICAO, -0.117
	IN_CADEIRA_CANHOTO, -0.105
	IN_SALA_ACOMPANHANTE, -0.104
	IN_OUTRA_DEF, 0.103
	IN_DEFICIT_ATENCAO, -0.101
	IN_MEDIDOR_GLICOSE, 0.067
	IN_ESTUDA_CLASSE_HOSPITALAR, -0.060
	IN_ACESSO, -0.059
	IN_AMPLIADA_18, 0.049
	IN_MESA_CADEIRA_SEPARADA, 0.042
	IN_MOBILIARIO_OBESO, 0.034
	IN_IDOSO, 0.029
	IN_VISAO_MONOCULAR, 0.023
	IN_MATERIAL_ESPECIFICO, 0.022
	IN_SALA_ESPECIAL, -0.014
	IN_GESTANTE, 0.001

In [32]:
i='NU_NOTA_LC'

model.fit(X_train_scaled, Y_train.loc[:,i])
linlasso_lc = Lasso(model.alpha_, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])

print(f'\n Alpha usado: {model.alpha_}')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_lc.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_lc.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

 Alpha usado: 0.025059776909281878
Features non-zero para Linguagens e Códigos: 71
Features com valores non-zero (ordenados pela magnitude absoluta):
	Q006, 11.421
	TP_ST_CONCLUSAO, -10.972
	TP_ANO_CONCLUIU, 10.533
	NU_IDADE, -10.182
	TP_LINGUA, -8.542
	TP_STATUS_REDACAO, -6.888
	Q024, 6.659
	IN_TREINEIRO, 5.214
	Q005, -4.511
	TP_ESCOLA, 4.278
	Q022, 3.479
	Q002, 3.244
	TP_COR_RACA, -3.149
	Q013, 3.025
	Q025, 2.763
	Q011, -2.450
	M, -2.206
	Q008, 2.172
	CO_UF_NASCIMENTO, 1.691
	Q007, -1.657
	Q001, 1.608
	Q015, -1.410
	Q003, 1.396
	Q023, 1.276
	Q012, -1.209
	Q009, -1.187
	IN_SURDEZ, -1.142
	IN_LEDOR, -1.084
	IN_DEFICIENCIA_MENTAL, -1.018
	IN_DEFICIENCIA_AUDITIVA, -1.016
	Q016, 0.963
	IN_TEMPO_ADICIONAL, 0.893
	Q004, 0.875
	Q018, 0.656
	Q017, -0.623
	Q021, -0.595
	Q020, -0.549
	Q010, -0.538
	IN_AUTISMO, -0.532
	IN_LIBRAS, -0.469
	TP_ESTADO_CIVIL, -0.463
	Q014, 0.396
	CO_UF_PROVA, -0.370
	Q019, -0.353
	IN_DEFICIT_ATENCAO, -0.346
	IN_DISLEXIA, -0.339
	IN_DEFICIENCIA_FISICA, -0.324
	IN_NOME_SOCIAL, 0.190
	IN_TRANSCRICAO, -0.184
	IN_SEM_RECURSO, -0.136
	IN_LEITURA_LABIAL, -0.125
	IN_CADEIRA_CANHOTO, -0.115
	IN_BAIXA_VISAO, -0.108
	IN_CEGUEIRA, 0.096
	IN_DISCALCULIA, -0.085
	IN_AMPLIADA_18, 0.067
	IN_MEDIDOR_GLICOSE, 0.065
	IN_CADEIRA_ACOLCHOADA, 0.062
	IN_SALA_ACOMPANHANTE, -0.060
	IN_IDOSO, 0.056
	CO_UF_RESIDENCIA, -0.053
	IN_MESA_CADEIRA_SEPARADA, 0.047
	IN_COMPUTADOR, -0.035
	IN_MOBILIARIO_OBESO, 0.031
	IN_MESA_CADEIRA_RODAS, -0.031
	IN_OUTRA_DEF, 0.020
	IN_SURDO_CEGUEIRA, -0.016
	IN_LAMINA_OVERLAY, -0.011
	IN_ESTUDA_CLASSE_HOSPITALAR, -0.009
	IN_SALA_INDIVIDUAL, -0.004
	IN_PROTETOR_AURICULAR, 0.004

In [33]:
i='NU_NOTA_MT'

model.fit(X_train_scaled, Y_train.loc[:,i])
linlasso_mt = Lasso(model.alpha_, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])

print(f'\n Alpha usado: {model.alpha_}')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_mt.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_mt.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

 Alpha usado: 0.05073644894796615
Features non-zero para Matemática: 75
Features com valores non-zero (ordenados pela magnitude absoluta):
	Q006, 26.634
	TP_ST_CONCLUSAO, -20.201
	NU_IDADE, -18.937
	M, 14.654
	TP_ANO_CONCLUIU, 12.666
	IN_TREINEIRO, 12.093
	Q024, 11.639
	TP_LINGUA, -11.137
	TP_ESCOLA, 10.953
	Q008, 6.407
	TP_STATUS_REDACAO, -5.857
	Q005, -5.855
	Q002, 5.700
	Q013, 4.871
	TP_COR_RACA, -4.686
	Q012, -2.850
	Q010, 2.679
	CO_UF_NASCIMENTO, 2.606
	Q025, 2.094
	Q021, -2.032
	Q015, -1.974
	Q018, 1.880
	IN_TEMPO_ADICIONAL, 1.878
	Q022, 1.740
	IN_LEDOR, -1.723
	Q014, -1.712
	CO_UF_RESIDENCIA, -1.701
	Q001, 1.681
	Q019, -1.408
	Q011, -1.390
	Q016, 1.344
	CO_UF_PROVA, -1.326
	Q004, 1.126
	IN_AUTISMO, -1.034
	Q020, -0.952
	IN_SURDEZ, -0.940
	IN_DEFICIENCIA_AUDITIVA, -0.898
	Q023, 0.858
	IN_DEFICIENCIA_MENTAL, -0.759
	Q003, 0.564
	IN_DISCALCULIA, -0.505
	IN_DISLEXIA, -0.486
	IN_DEFICIENCIA_FISICA, -0.462
	IN_TRANSCRICAO, -0.380
	Q007, -0.372
	Q009, -0.284
	IN_DEFICIT_ATENCAO, 0.284
	IN_ACESSO, -0.278
	IN_IDOSO, 0.258
	TP_ESTADO_CIVIL, -0.232
	IN_LIBRAS, -0.225
	IN_SEM_RECURSO, -0.218
	IN_MESA_CADEIRA_RODAS, -0.176
	IN_MEDIDOR_GLICOSE, 0.165
	Q017, 0.150
	IN_OUTRA_DEF, 0.145
	IN_LEITURA_LABIAL, -0.126
	IN_CADEIRA_CANHOTO, -0.096
	IN_NOME_SOCIAL, 0.082
	IN_CEGUEIRA, 0.068
	IN_SALA_ACOMPANHANTE, -0.054
	IN_MOBILIARIO_OBESO, 0.050
	IN_BAIXA_VISAO, -0.048
	IN_SALA_ESPECIAL, -0.048
	IN_MAQUINA_BRAILE, -0.041
	IN_LACTANTE, 0.038
	IN_ESTUDA_CLASSE_HOSPITALAR, -0.038
	IN_CADEIRA_ACOLCHOADA, 0.033
	IN_MARCA_PASSO, -0.033
	IN_COMPUTADOR, -0.028
	IN_MESA_CADEIRA_SEPARADA, 0.023
	IN_BRAILLE, -0.016
	IN_AMPLIADA_18, -0.011
	IN_SONDA, 0.010
	IN_SURDO_CEGUEIRA, -0.006

In [34]:
i='NU_NOTA_REDACAO'

model.fit(X_train_scaled, Y_train.loc[:,i])
linlasso_red = Lasso(model.alpha_, max_iter = 10000).fit(X_train_scaled, Y_train.loc[:,i])

print(f'\n Alpha usado: {model.alpha_}')
print('Features non-zero para {}: {}'.format(dicionario[i], np.sum(linlasso_red.coef_ != 0)))
print('Features com valores non-zero (ordenados pela magnitude absoluta):')

for e in sorted (list(zip(list(X_train), linlasso_red.coef_)), key = lambda e: -abs(e[1])):
    if e[1] != 0:
        print('\t{}, {:.3f}'.format(e[0], e[1]))

 Alpha usado: 0.08986682342127443
Features non-zero para Redação: 70
Features com valores non-zero (ordenados pela magnitude absoluta):
	TP_STATUS_REDACAO, -82.004
	TP_ST_CONCLUSAO, -44.698
	NU_IDADE, -32.843
	Q006, 31.379
	TP_ESCOLA, 23.457
	IN_TREINEIRO, 22.296
	Q024, 15.000
	M, -12.377
	TP_LINGUA, -11.634
	CO_MUNICIPIO_PROVA, -10.093
	TP_ANO_CONCLUIU, 9.909
	Q005, -9.655
	Q008, 9.407
	Q002, 7.681
	Q025, 6.481
	Q022, 4.659
	TP_COR_RACA, -4.521
	Q013, 4.335
	Q015, -3.988
	Q011, -3.859
	IN_TEMPO_ADICIONAL, 3.776
	Q012, -3.481
	Q014, -3.390
	IN_LEDOR, -3.019
	Q018, -2.150
	Q019, -2.082
	IN_DEFICIENCIA_MENTAL, -1.979
	IN_AUTISMO, -1.782
	Q001, 1.708
	Q004, 1.591
	IN_SURDEZ, -1.430
	Q017, -1.360
	Q023, 1.322
	Q021, -1.295
	Q009, 1.035
	Q020, -1.013
	IN_DEFICIENCIA_AUDITIVA, -0.972
	Q007, -0.756
	Q010, 0.590
	IN_LIBRAS, -0.559
	IN_CEGUEIRA, 0.557
	IN_SEM_RECURSO, -0.553
	IN_LACTANTE, -0.456
	IN_TRANSCRICAO, -0.344
	IN_IDOSO, 0.307
	IN_MESA_CADEIRA_RODAS, -0.285
	IN_DISLEXIA, 0.282
	IN_OUTRA_DEF, 0.280
	IN_CADEIRA_ACOLCHOADA, 0.273
	IN_LEITURA_LABIAL, 0.253
	IN_MEDIDOR_GLICOSE, 0.250
	IN_ACESSO, -0.227
	IN_DEFICIENCIA_FISICA, -0.226
	IN_BAIXA_VISAO, -0.208
	IN_SALA_ACOMPANHANTE, -0.203
	IN_DISCALCULIA, -0.184
	TP_ESTADO_CIVIL, -0.169
	IN_CADEIRA_CANHOTO, -0.146
	IN_COMPUTADOR, -0.130
	IN_NOME_SOCIAL, 0.085
	CO_UF_NASCIMENTO, -0.070
	IN_MOBILIARIO_OBESO, -0.061
	IN_MOBILIARIO_ESPECIFICO, 0.054
	IN_GUIA_INTERPRETE, 0.054
	IN_MARCA_PASSO, -0.044
	IN_GESTANTE, -0.042
	IN_VISAO_MONOCULAR, 0.032
	IN_ESTUDA_CLASSE_HOSPITALAR, -0.024
	IN_AMPLIADA_24, -0.016
	IN_SONDA, 0.013

### Fazendo as predições:
Precisamos realizar um breve tratamento nos NaNs do test:

In [35]:
X_test.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False).head()

                index  Dados faltantes
68  TP_STATUS_REDACAO         0.229794
5    CO_UF_NASCIMENTO         0.028422
1            NU_IDADE         0.000020
60     IN_NOME_SOCIAL         0.000000
69               Q001         0.000000

In [36]:
X_test.groupby(by='TP_STATUS_REDACAO').size()

TP_STATUS_REDACAO
1.0    1323217
2.0       1973
3.0       8099
4.0      19946
6.0      14185
7.0       1331
8.0       3062
9.0       1730
dtype: int64

Os dados faltantes podem ser completados com os mais frequentes em cada coluna:

In [37]:
X_test_complete=SimpleImputer(missing_values=np.nan,strategy='most_frequent').fit_transform(X_test)
X_test_complete=pd.DataFrame(X_test_complete, columns=X_test.columns)

Escalando os dados de teste na mesma escala dos de treino:

In [38]:
X_test_scaled=scaler.transform(X_test_complete)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test_complete.columns)

In [39]:
nota_cn=linlasso_cn.predict(X_test_scaled)
nota_ch=linlasso_ch.predict(X_test_scaled)
nota_lc=linlasso_lc.predict(X_test_scaled)
nota_mt=linlasso_mt.predict(X_test_scaled)
nota_red=linlasso_red.predict(X_test_scaled)

In [40]:
data_saida={'NU_INSCRICAO':out,
            'NU_NOTA_CN':nota_cn,
            'NU_NOTA_CH':nota_ch,
            'NU_NOTA_LC':nota_lc,
            'NU_NOTA_MT':nota_mt,
            'NU_NOTA_REDACAO':nota_red}

In [41]:
dataframe_saida=pd.DataFrame(data_saida)

### Qualidade do modelo:

In [49]:
i='NU_NOTA_CN'
print(i+':\n')
print('R squared training set', round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2))
rse_cn=round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2)
#print('R squared test set',rse_cn)


i='NU_NOTA_CH'
print('\n'+i+':\n')
print('R squared training set', round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2))
rse_ch=round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2)
#print('R squared test set', rse_ch)

i='NU_NOTA_LC'
print('\n'+i+':\n')
print('R squared training set', round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2))
rse_lc=round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2)
#print('R squared test set', rse_lc)

i='NU_NOTA_MT'
print('\n'+i+':\n')
print('R squared training set', round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2))
rse_mt=round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2)
#print('R squared test set', rse_mt)

i='NU_NOTA_REDACAO'
print('\n'+i+':\n')
print('R squared training set', round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2))
rse_redacao=round(linlasso_cn.score(X_train_scaled, Y_train.loc[:,i])*100, 2)
#print('R squared test set', rse_redacao)

print('\n')

NU_NOTA_CN:

R squared training set 27.5

NU_NOTA_CH:

R squared training set 9.59

NU_NOTA_LC:

R squared training set -25.77

NU_NOTA_MT:

R squared training set 9.31

NU_NOTA_REDACAO:

R squared training set -17.53

In [43]:
dataframe_saida.to_csv('submission.csv',index=False)